*{  margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    }

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Special+Gothic+Expanded+One&display=swap');


    .fuente2{
            font-family: "Special Gothic Expanded One", sans-serif;
            font-weight: 400;
            font-style: normal;
          }

    header{
        background-color: rgb(44, 153, 79);
        padding:10px;
    }

    header a{
        color: white;
        background-color: rgb(44, 153, 79);
        text-decoration: none;
        border-radius: 3px;
        padding: 7px;
    }

    h3{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    nav{
        background-color: rgb(111, 214, 140);
        padding: 10px;
        border-radius: 3px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 15px;
        flex-wrap:wrap;
    }


    body{
        background-color: #d1f2e6;
    }

    body h1{
        display: flex;
        justify-content: center;
        margin: 10px;
        margin-top: 30px;
        
    }

    body section{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap:wrap;
    }

    section div{
        background-color: rgba(169, 224, 205, 0.927);
        width: 430px;
        border-radius: 10px;
        padding: 10px;
    }

    section div h2{
        color: rgb(26, 162, 116);
        font-size: 18px;
        padding: 5px;
    }

    section div p{
        padding: 5px;
    }

    section div i{
        display: flex;
        justify-content: flex-end;
    }
    
    section img{
        width: 920px;
        max-width: 100%;
        border-radius:10px;
        margin-top: 10px;
    }

    article{
        display: flex;
        justify-content: center;
    }

    aside{
        display: flex;
        padding: 40px;
        justify-content: center;
        gap: 80px;
        background-color: rgb(203, 237, 225);
        border-radius: 10px;
    }

    aside div{
        width: 250px;
    }

    footer{
        background-color: rgb(44, 153, 79);
        padding: 30px;
    }





  